{
    "gelbooru_api_key": "",
    "gelbooru_user_id": 0,
    "authors": ["author1", "author2"],
    "tags": [],
    "exclude_tags": ["rating:explicit"],
    "bot_token": "",
    "chat_id": "",
    "gelbooru_max_authors": 10,
    "gelbooru_delay": 0,
    "refresh_delay": 3600,
    "send_delay": 180
}
